$color1: whitesmoke;
$color2: rgb(5, 5, 97);
$color3: rgb(41, 85, 134);
$color4: rgb(201, 205, 221);
$color5: rgb(99, 4, 4);
$colorhover: rgb(170, 167, 167);
$colorp:black;
$colorbackground:white;
$colorbtn: rgb(40, 40, 179) ;
$fontbig: 'Fira Sans', sans-serif;
$fontsmall: 'Source Sans Pro', sans-serif;
$sizetitledesk: 1.2rem;
$sizetitlemobile: 1rem;
$fontpdesk:1rem;
$fontpmobile:0.8rem;
$sizetitlecard:1rem;
$fontlogo: 'League Spartan', sans-serif;
$colorlogo: #e6443d;
$colorlogo1: #004aad;